<script>
  // ==================================================================
  // 插件免费，可接定制 
  // ==================================================================
  // 作者联系QQ：2672379400 
  // ==================================================================
	export default {
		onLaunch: function() {
			console.log('App Launch')
      // #ifdef APP-PLUS
      // 锁定屏幕方向
			plus.screen.lockOrientation("portrait-primary");
      // #endif
		},
		onShow: function() {
			console.log('App Show')
		},
		onHide: function() {
			console.log('App Hide')
		}
	}
</script>

<style>
	/*每个页面公共css */
	@import "colorui/main.css";
	@import "colorui/icon.css";
</style>
