<!-- ================================================================== -->
<!-- 插件免费，可接定制 -->
<!-- ================================================================== -->
<!-- 作者联系QQ：2672379400 -->
<!-- ================================================================== -->
<template>
	<view class="my">

		<view class="banner">
      <view class="right" :style="'top:'+statusBarHeight"><image src="/static/my_hamburger.png"></image></view>
      <view class="left" :style="'top:'+statusBarHeight"><image src="/static/my_switch.png"></image></view>
    </view>

		<view class="user-info grid col-2 align-center justify-between">
			<view class="header align-center justify-center">
				<image src="/static/logo.jpg"></image>
			</view>
      <view class="grid col-3 align-center justify-center text-white" style="width: 72%;">
        <view class="flex-direction align-center justify-center text-center">
          <view class="text-gray">获赞</view>
          <view class="text-bold text-xl">452</view>
        </view>
        <view class="flex-direction align-center justify-center text-center">
          <view class="text-gray">关注</view>
          <view class="text-bold text-xl">104</view>
        </view>
        <view class="flex-direction align-center justify-center text-center">
          <view class="text-gray">粉丝</view>
          <view class="text-bold text-xl">56</view>
        </view>
      </view>

		</view>

		<!-- username -->
		<view class="grid user-detail col-2 align-center">
			<view class="left flex justify-center">
				<view class="">
					<text class="text-white text-xl text-bold">一颗橙子 </text>
				</view>
				<view class="number align-center">
					<text class="text-gray text-df"> 抖音号：629901001 </text>
          <image src="/static/code.png"></image>
				</view>
			</view>
		</view>

    <view class="introduce">
      <view class="qianming">
      	<text class="text-white">总有一首歌，唱进你心里。总有一支舞，让你着迷感谢您的关注，感恩遇见</text>
      </view>
      <view class="x_int text-gray">
      	<text class="btn text-sm">北京</text>
        <text class="btn text-sm"> + 添加联系方式</text>
      </view>
    </view>

    <view class="btn grid align-center col-2 text-white justify-between" style="width: 94%;margin: 0 auto;">
      <view class="button">编辑资料</view>
      <view class="button">添加朋友</view>
    </view>

		<!-- tab -->
		<scroll-view scroll-x class="nav text-center">
			<view class="cu-item text-gray" :class="index==TabCur?'text-white cur':''" v-for="(item,index) in tabList" :key="index" @tap="tabSelect" :data-id="index">
				{{item.name}}
			</view>
		</scroll-view>

		<!-- list -->
		<video-list :dataList="videoList"></video-list>

	</view>
</template>

<script>
	import videoList from '@/components/my/list.vue';
	export default {
		components: {
			videoList
		},
		data() {
			return {
				TabCur: 0,
				scrollLeft: 0,
				tabList:[
					{
						name:'作品',
						number: 114
					},
					{
						name:'私密',
						number: 99
					},{
						name:'喜欢',
						number: 114
					},{
						name:'收藏',
						number: 114
					},
				],
				videoList: [{
          cover_url: '/static/img/tou10.jpg',
          like: 20
        },{
          cover_url: '/static/img/tou10.jpg',
          like: 20
        },{
          cover_url: '/static/img/tou10.jpg',
          like: 20
        },{
          cover_url: '/static/img/tou10.jpg',
          like: 20
        },{
          cover_url: '/static/img/tou10.jpg',
          like: 20
        },{
          cover_url: '/static/img/tou10.jpg',
          like: 20
        },{
          cover_url: '/static/img/tou10.jpg',
          like: 20
        },{
          cover_url: '/static/img/tou10.jpg',
          like: 20
        },{
          cover_url: '/static/img/tou10.jpg',
          like: 20
        },{
          cover_url: '/static/img/tou10.jpg',
          like: 20
        },{
          cover_url: '/static/img/tou10.jpg',
          like: 20
        },{
          cover_url: '/static/img/tou10.jpg',
          like: 20
        },{
          cover_url: '/static/img/tou10.jpg',
          like: 20
        },{
          cover_url: '/static/img/tou10.jpg',
          like: 20
        },{
          cover_url: '/static/img/tou10.jpg',
          like: 20
        }],
        statusBarHeight:0,
			};
		},
		onLoad() {
		  console.log('a')
			this.statusBarHeight = uni.getSystemInfoSync().statusBarHeight + 'px';
      console.log(this.statusBarHeight)
      uni.setNavigationBarTitle({
        title: '一颗橙子'
      })
		},
		methods:{
			tabSelect(e) {
			  console.log('adsd')
				this.TabCur = e.currentTarget.dataset.id;
				this.scrollLeft = (e.currentTarget.dataset.id - 1) * 60;
			},
		}
	}
</script>

<style>
page{
  background-color: #161823;
}
</style>
<style lang="less" scoped>
  .cu-item{
    width: 20%;
    font-size: 30upx;
  }
.my{
	height: 100vh;
	width: 100vw;
}
.banner{
	background-image: url(../../static/my_bg.jpg);
	width: 100vw;
	min-height: 280upx;
	background-size: cover;
  position: relative;
  .left{
    position: absolute;
    left: 20upx;
    width: 60upx;
    height: 60upx;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #161823;
    opacity: .8;
    image{
      width: 36upx;
      height: 36upx;
    }
  }
  .right{
    position: absolute;
    right: 20upx;
    width: 60upx;
    height: 60upx;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #161823;
    opacity: .7;
    image{
      width: 36upx;
      height: 36upx;
    }
  }
}
.user-info{
  width: 94%;
  margin: 0 3%;
  position: relative;
	.header{
    background: #161823;
    width: 174upx;
    height: 174upx;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -60upx;
    border-radius: 50%;

		image{
			width: 160upx;
			height: 160upx;
      border-radius: 50%;
		}
	}
}

.btn{
  width: 94%;
  margin: 0 auto;
  .button{
    background: #3A3A44;
    width: 49%;
    text-align: center;
    height: 76rpx;
    line-height: 76rpx;
    border-radius: 8rpx;
  }
}

.user-detail{
	border-bottom: 1px solid rgba(110, 111, 117, 0.5);
	padding: 10upx 0 15upx;
  width: 94%;
  margin: 0 3%;
	.left{
		flex-direction: column;
		.number{
			margin: 10upx 0;
      display: flex;
      image{
        width: 36upx;
        height: 36upx;
        margin-left: 16upx;
      }
		}
	}
}

.introduce{
  width: 94%;
  margin: 0 auto;
  padding: 20upx 0;
  .x_int{
    margin: 16upx 0;
    .btn{
      background: #3A3A44;
      padding: 6upx 12upx;
      margin-right: 10upx;
      border-radius: 6upx;
    }
  }
}

.adv{
	padding: 20upx 0;
  width: 94%;

  margin: 0 3%;
  image{
    width: 100%;
    height: 100%;
  }
}

.nav .cu-item.cur{
  border-bottom: 6rpx solid;
  border-color: #fbc732;
}
</style>
