<!-- ================================================================== -->
<!-- 插件免费，可接定制 -->
<!-- ================================================================== -->
<!-- 作者联系QQ：2672379400 -->
<!-- ================================================================== -->
<template>
	<view class="msg">
		<!-- tools -->
		<view class="cu-list grid col-4 tools align-center justify-center">
				<view class="flex align-center justify-center">
					<image src="../../static/msg/fans.png" mode="widthFix"></image>
					<text>粉丝</text>
				</view>
				<view class="flex align-center justify-center">
					<image src="../../static/msg/zan.png" mode="widthFix"></image>
					<text>赞</text>
				</view>
				<view class="flex align-center justify-center">
					<image src="../../static/msg/at.png" mode="widthFix"></image>
					<text>@我的</text>
				</view>
				<view class="flex align-center justify-center">
					<image src="../../static/msg/comment.png" mode="widthFix"></image>
					<text>评论</text>
				</view>
		</view>

		<!-- list -->
			<view class="cu-list menu-avatar msg-list">
				<view class="cu-item bottom_line" v-for="(item,index) in list" :key="index">
					<view class="cu-avatar round lg" :style="'background-image:url('+item.header+');'"></view>
					<view class="content">
						<view class="text-grey">{{item.username}}</view>
						<view class="text-gray text-sm flex">
							<view class="text-cut">
								<text class="cuIcon-infofill text-red margin-right-xs" v-if="!item.success"></text>
								{{item.content}}
							</view>
            </view>
					</view>
					<view class="action">
						<view class="text-grey text-xs">{{item.time}}</view>
						<view class="cu-tag round bg-grey sm">{{item.number}}</view>
					</view>
				</view>
			</view>

	</view>
</template>

<script>
	export default {
		data() {
			return {
				list: [{
          "header": '../../static/img/tou1.jpg',
          "username": "小姐姐",
          "content": "最近，在上海的一家麦当劳里，1张很有意思的偷拍照火了。",
          "number": "5",
          "time": "22:20",
          "success": true
        },{
          "header": '../../static/img/tou1.jpg',
          "username": "小姐姐",
          "content": "插件免费，可接定制，作者联系QQ：2672379400。",
          "number": "5",
          "time": "22:20",
          "success": true
        },{
          "header": '../../static/img/tou1.jpg',
          "username": "小姐姐",
          "content": "最近，在上海的一家麦当劳里，1张很有意思的偷拍照火了。",
          "number": "5",
          "time": "22:20",
          "success": true
        },{
          "header": '../../static/img/tou1.jpg',
          "username": "麦当劳",
          "content": "插件免费，可接定制，作者联系QQ：2672379400。",
          "number": "5",
          "time": "22:20",
          "success": true
        },{
          "header": '../../static/img/tou1.jpg',
          "username": "麦当劳",
          "content": "本插件为仿抖音短视频插件，无限制滑动视频，不卡顿，高效回收内存。支持无限加载，跟手加载，切换滚动流畅。",
          "number": "5",
          "time": "22:20",
          "success": false
        },{
          "header": '../../static/img/tou1.jpg',
          "username": "麦当劳",
          "content": "上海麦当劳1张偷拍照流出，戳穿残酷事实：醒醒，哪来的铁饭碗。",
          "number": "5",
          "time": "22:20",
          "success": true
        },{
          "header": '../../static/img/tou1.jpg',
          "username": "麦当劳",
          "content": "最近，在上海的一家麦当劳里，1张很有意思的偷拍照火了。",
          "number": "5",
          "time": "22:20",
          "success": true
        },{
          "header": '../../static/img/tou1.jpg',
          "username": "麦当劳",
          "content": "麦当劳的这个特殊座椅设计得确实挺有意思，解决了年轻女孩吃高热量食物怕胖的痛点。",
          "number": "5",
          "time": "22:20",
          "success": false
        },{
          "header": '../../static/img/tou1.jpg',
          "username": "麦当劳",
          "content": "只见一个年轻的小姐姐，左手举着可乐，右手拿着汉堡正在大快朵颐。",
          "number": "5",
          "time": "22:20",
          "success": true
        },{
          "header": '../../static/img/tou1.jpg',
          "username": "凯尔",
          "content": "双脚也没闲着，不断地踩着脚踏车做运动，似乎刚吃下去的卡路里都能马上被消耗了。",
          "number": "5",
          "time": "22:20",
          "success": true
        }]
			};
		}
	}
</script>

<style lang="less">
	page{
    background-color: #161823;
  }
.msg{
	width: 100vw;
	height: 100vh;
	background-color: #161823;
}
.tools{
	view{
		display: flex;
		flex-direction: column;
	}
	image{
		width: 100upx;
		height: 100upx;
		display: flex;
	}
}
.cu-list.grid{
	background-color: #161823;
	padding: 30upx 0;
	color: #FFFFFF;
	border-bottom: 1px solid rgba(110,111,117,0.2);
}

.cu-list.menu-avatar>.cu-item:after,
.cu-list.menu>.cu-item:after{
  border-bottom-color: rgba(110,111,117,0.2) !important;
  border-bottom-width: 1px;
}
.cu-list+.cu-list{
	margin-top: 0;
}
.cu-list.menu-avatar>.cu-item{
	background-color: #161823;
	border-color: rgba(110,111,117,0.5);
}
</style>
